{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Автор {{ author }}
{% endblock title %}

{% block content %}

    <h1>Все публикации автора {{ author }} </h1>
    <h3>Количество публикаций: {{ author_list|length }}</h3>
    <hr>
    {% if author_list %}
        <ul class="list-group list-group-flush">
            {% for newspost in author_list %}
                <li class="list-group-item">
                    <small class="fw-bold">{{ newspost.addtime | date:'d M Y' }}</small>
                    <a href="{% url 'post_detail' newspost.id %}">{{ newspost.header }}</a>
                    <small class="text-muted">(автор:
                        {% for author in newspost.post_author.all %}
                            <a href="{% url "author_list" author.id %}">{{ author }}</a>
                        {% endfor %}
                      )</small> <br>
                    <small class="fw-bold">категории:
                        {% for category in newspost.category.all %}
                            <a href="{% url "category_list" category.id %}">{{ category }}</a>
                        {% endfor %}
                    </small>
                    <p>{{ newspost.text | truncatechars:210 }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}
    {% if is_paginated %}
    <nav aria-label="...">
        <ul class="pagination pagination-sm justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">Начало</a></li>
                <li class="page-itema"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><<<</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link"></a>{{ num }}</li>
                {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">>>></a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Конец</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

{% endblock content %}