{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Post_search
{% endblock title %}

{% block content %}
    <h1>Поиск по публикациям </h1>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" value="Найти">
    </form>
    <hr>
    {% if post_search %}
        <ul class="list-group list-group-flush">
            {% for newspost in post_search %}
                <li class="list-group-item">
                    <small class="fw-bold">{{ newspost.addtime | date:'d M Y' }}</small>
                    <a href="{% url 'post_detail' newspost.id %}">{{ newspost.header }}</a>
                    <small class="text-muted">(автор:
                        <a href="{% url "author_list" newspost.post_author.id %}">{{ newspost.post_author }}</a>)</small> <br>
                    <small class="fw-bold">категории:
                        {% for category in newspost.category.all %}
                            <a href="{% url "category_list" category.id %}">{{ category }}</a>
                        {% endfor %}
                    </small>
                    <p>{{ newspost.text | truncatechars:210 }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}


    {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}
